@font-face {
  font-family: 'Boycott';
  src: url('font/Boycott.woff2') format('woff2'),
      url('font/Boycott.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1b1b1b;
  display: flex;
  justify-content: center;
}

.container {
  height: 120vh;
  width: 85%;
  background-color: #eee;
  display: flex;
}

/* logo container styles */
.logo-container {
  width: 40%;
  background-image: url(images/halie-west-25xggax4bSA-unsplash.jpg);
  background-size: cover;
  color: white;
  position: relative;
}

.logo {
  margin-top: 160px;
  width: 100%;
  height: 15%;

  display: flex;
  background: rgba(0, 0, 0, .5);
  align-items: center;
  justify-content: center;
}

.logo p {
  font-size: 3.6em;
  font-family: "boycott", monospace;
}

.logo img {
  height: 85%;
}

.credits{
  font-family: sans-serif;
  font-size: 1.3rem;
  bottom: 10px;
  position: absolute;
  width: 100%;
  text-align: center;
}

.credits a {
  color: white;
}

.credits a:visited {
  color: darkgrey;
}

.form-container {
  max-width: 60%;
}

.form-container header {
  /* (top, right, bottom, and left). */
  margin: 120px 85px 0 35px;
  font-family: sans-serif;
  font-size: 11.5px; 
}

.form-container header > h2 {
  margin-bottom: 25px;
}

form {
  background-color: white;
  font-family: sans-serif;
  padding: 20px 85px 20px 35px;
  box-shadow: 0 7px 2px -2px lightgray;
}

form > h2 {
  color: rgb(48, 47, 47);
  font-size: 1.2em;
}

.form-row {
  display: flex;
}

.input-container {
  display: flex;
  flex-direction: column;
  margin: 20px 50px 0 0;
}

.input-container:nth-child(even) {
  margin-right: none;
}

.input-container label {
  font-size: 12px;
  margin-bottom: 3px;
}

.input-container input {
  padding: 5px 10px;
  width: 250px;
  font-size: 13px;
  border: 1px solid #E5E7EB;
  border-radius: 3px;
}

input:focus {
  outline: none; 
  border: 1px solid blue;
  box-shadow: 5px 5px 5px -2px rgba(0,0,0,0.2);
}

input:invalid {
  border: 1px solid red;
}