@font-face {
    font-family: 'Boycott';
    src: url('Boycott.woff2') format('woff2'),
        url('Boycott.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

